{% extends 'base.html.twig' %}

{% block title %}Election index{% endblock %}

{% block body %}
    <h1>Election index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for election in elections %}
            <tr>
                <td>{{ election.id }}</td>
                <td>{{ election.title }}</td>
                <td>
                    <a href="{{ path('app_election_show', {'id': election.id}) }}">show</a>
                    <a href="{{ path('app_election_edit', {'id': election.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_election_new') }}">Create new</a>
{% endblock %}
